.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gif-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.gif-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.gif-button:focus {
  outline: 2px solid blue;
}

.gif-image {
  width: 50px;
  height: 50px;
}

.employee-list-container {
  max-height: 600px; /* Set the maximum height of the employee list container */
  overflow-y: auto; /* Enable vertical scrolling for the list container */
}

.employee-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.employee-list-item {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.employee-list-item:hover {
  background-color: #eee;
}

.selected {
  background-color: #f0f0f0;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.action-buttons button {
  padding: 5px 10px;
  cursor: pointer;
}
